body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.input-container,
.sort-container {
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
}

.input-container input {
  width: 50px;
}

.sort-container select {
  width: 150px;
}

.sort-container button {
  margin-left: 10px;
}

#container {
  display: flex;
  justify-content: center;
  overflow-x: auto;
}

.bar {
  width: 20px;
  margin: 0 2px;
  background-color: #2196F3;
}

.bar.highlight {
  background-color: #ff0000; /* Set your desired highlight color */
}
